<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
  <display-name>Scarlet Hotels</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>AdminPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/AdminPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetManager</servlet-name>
    <servlet-class>GetManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManager</servlet-name>
    <url-pattern>/GetManager</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>customer</servlet-name>
    <servlet-class>customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
</web-app>